---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import {Icon} from 'astro-icon';

const seo = {
  title: 'Mouthfull | Indulge in every bite, make it a mouth-full delight',
  description: 'EST.2021 | ✨HCC Registered Kitchen |📍Hutt Valley|WLG| Kapiti',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <Icon name="mouthfull-logo" height="300px" />
      <h1 class="fade-in">Coming Soon</h1>
    </article>
  </Container>
</Layout>